.App {
  text-align: center;
}
.editor {
  width: 100%;
  height: 100%;
  text-align: left;
}
.preview-area {
  border: 1px solid black;
  border-radius: 10px;
  min-height: 300px;
  width: 100%;
  display: block;
}
.preview-text {
  padding: 4px;
  text-align: left;
}
